[Unit]
Description=Watch Wayland clipboard and sync with cliphist
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
# Command to run
ExecStart=/usr/bin/wl-paste --watch cliphist store
# Restart if it crashes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
