[Unit]
Description=Toggle ironbar microphone, webcamera and screencast indicators
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
PartOf=niri.service
After=niri.service
PartOf=ironbar.service
After=ironbar.service

[Service]
Type=simple
ExecStart=python3 ${HOME}/.config/adhdesktop/scripts/ironbar-privacy-monitor.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=ironbar.service
