[Unit]
Description=Swayidle – idle handling for Niri
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=swayidle \
	timeout 300 'niri msg action power-off-monitors' \
	idlehint 300 \
	timeout 600 'swaylock -f' \
	timeout 7200 'systemctl suspend' \
	before-sleep 'swaylock -f' \
	lock 'swaylock -f'
Restart=on-failure
RestartSec=5
