:root {
  --color-dark-primary: #0c0c0c;
  --color-dark-secondary: #404040;
  --color-hover: #ffffff14;
  --color-white: #fff;
  --color-active: #d56199;
  --color-urgent: #ff0a0a;
  --bar-alpha: 60%;
  --popover-alpha: 95%;

  --margin-widget: 8px;
  --margin-tray: 4px;
  --margin-vert: 2px;
  --border-width: 2px;
  --border-radius-window: 12px;
  --border-radius-button: 9px;
}

#main {
  min-width: 1200px;
}

* {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  font-family: monospace;
}

#start .widget,
#end .widget {
  margin-left: var(--margin-widget);
  margin-right: var(--margin-widget);
}

.widget.menu,
.widget.volume,
.widget.music,
.widget.clock,
.widget.notifications > .button,
.widget.battary,
.widget.sysinfo,
#power-btn {
  padding-left: var(--margin-widget);
  padding-right: var(--margin-widget);
  padding-top: vert(--margin-vert);
  padding-bottom: vert(--margin-vert);
}

.widget.tray > .item {
  padding-left: var(--margin-tray);
  padding-right: var(--margin-tray);
  padding-top: vert(--margin-vert);
  padding-bottom: vert(--margin-vert);
}

button:hover,
button:active,
button.open,
box.volume:hover,
box.sysinfo:hover,
.menu modelbutton:active,
.menu modelbutton:hover {
  background: var(--color-hover);
  border-radius: var(--border-radius-button);
}

#main,
#main #bar,
popover,
popover contents {
  border-radius: var(--border-radius-window);
}

#main #bar {
  border-style: solid;
  border-color: var(--color-dark-primary);
  border-width: var(--border-width);
}

popover contents {
  border-style: solid;
  border-color: var(--color-dark-secondary);
  border-width: var(--border-width);
}

#main {
  background-color: color-mix(in srgb, var(--color-dark-primary)
    var(--bar-alpha), transparent);
}

popover contents {
  background-color: color-mix(in srgb, var(--color-dark-primary)
    var(--popover-alpha), transparent);
}

calendar {
  background-color: transparent;
}

popover > arrow,
popover separator {
  background-color: var(--color-dark-secondary);
}

scale > trough {
  background-color: var(--color-dark-secondary);
  margin: var(--margin-widget);
}

scale > trough > highlight {
  background-color: var(--color-active);
  border-style: solid;
  border-color: var(--color-active);
  border-width: 0.2em;
}

scale > trough > slider {
  background-color: var(--color-white);
  border-radius: var(--border-radius-window);
}

switch > slider {
  background-color: var(--color-white);
}

switch:checked {
  background-color: var(--color-active);
}

switch:not(:checked) {
  background-color: var(--color-dark-secondary);
}

box,
button,
label {
  background-color: #0000;
  color: var(--color-white);
}

.widget > .item {
  margin: 0;
  padding: 0;
}

.volume label:not(:first-child) {
  margin-left: var(--margin-widget);
}

#volume.recording .source {
  color: var(--color-urgent);
}

#player-select {
  margin-right: 0;
}

#player-control {
  margin-left: 0;
}

.clock {
  font-weight: bold;
  font-size: 1.5em;
}

.popup-clock .calendar-clock {
  font-size: 2.0em;
}

.popup-clock .calendar {
  border: var(--border-width) solid transparent;
}

.popup-clock .calendar .today {
  border-radius: 50%;
  background: var(--color-active);
  font-weight: bold;
}

.power-menu .text-button {
  padding: 4px 4px;
}
