:root {
  --color-dark-primary: #0c0c0c;
  --color-dark-secondary: #2d2d2d;
  --color-white: #fff;
  --color-active: #6699cc;
  --color-urgent: #ff0a0a;
  --bg-alpha: 50%;

  --margin-lg: 0.8em;
  --margin-sm: 0.4em;
}

* {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  font-family: monospace;
}

.background {
  background-color: color-mix(in srgb, var(--color-dark-primary)
    var(--bg-alpha), transparent);
}

#bar,
popover,
popover contents,
calendar {
  background-color: transparent;
}

popover,
popover contents {
  padding: 12px;
  border-radius: 12px;
}

scale > trough {
  background-color: var(--color-dark-secondary);
}

scale > trough > highlight {
  background-color: var(--color-active);
  border-style: solid;
  border-color: var(--color-active);
  border-width: 0.2em;
}

scale > trough > slider {
  background-color: var(--color-white);
}

switch > slider {
  background-color: var(--color-white);
}

switch:checked {
  background-color: var(--color-active);
}

switch:not(:checked) {
  background-color: var(--color-dark-secondary);
}

box,
button,
label {
  background-color: #0000;
  color: var(--color-white);
}

.widget {
  padding-left: var(--margin-lg);
  padding-right: var(--margin-lg);
}

.volume label,
.item {
  padding-left: var(--margin-sm);
  padding-right: var(--margin-sm);
}

.volume .source {
  opacity: 0.5;
}

.volume.recording .source {
  color: var(--color-urgent);
  opacity: 1.0;
}

.notifications,
.notifications button,
.clock {
  padding-left: var(--margin-sm);
  padding-right: var(--margin-sm);
}

button:hover,
button:active {
  background-color: var(--color-dark-secondary);
}

.clock {
  font-weight: bold;
  font-size: 1.5em;
}

.popup-clock .calendar-clock {
  font-size: 2.0em;
}

.popup-clock .calendar .today {
  background-color: var(--color-active);
}

/* --- custom: power menu ---  */

.popup-power-menu #header {
  margin-bottom: 0.6em;
}

.popup-power-menu .power-btn {
  border-radius: 10px;
}
