:root {
  --color-dark-primary: #0c0c0c;
  --color-dark-secondary: #2d2d2d;
  --color-white: #fff;
  --color-active: #d56199;
  --color-urgent: #ff0a0a;
  --bg-alpha: 60%;

  --margin-lg: 0.8em;
  --margin-sm: 0.4em;
  --border-width: 2px;
  --border-radius: 12px;
}

* {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  font-family: monospace;
}

button,
label {
  margin: 0;
  padding: 0;
}

.background {
  background-color: color-mix(in srgb, var(--color-dark-primary)
    var(--bg-alpha), transparent);
}

popover {
  padding: var(--margin-lg);
  border-radius: var(--border-radius);
}

#bar {
  margin: var(--margin-sm);
}

#bar,
popover,
popover contents,
calendar {
  background-color: transparent;
}

scale > trough {
  background-color: var(--color-dark-secondary);
  margin: var(--margin-sm);
}

scale > trough > highlight {
  background-color: var(--color-active);
  border-style: solid;
  border-color: var(--color-active);
  border-width: 0.2em;
}

scale > trough > slider {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

switch > slider {
  background-color: var(--color-white);
}

switch:checked {
  background-color: var(--color-active);
}

switch:not(:checked) {
  background-color: var(--color-dark-secondary);
}

box,
button,
label {
  background-color: #0000;
  color: var(--color-white);
}

.widget {
  margin-left: var(--margin-lg);
  margin-right: var(--margin-lg);
}

button,
.item {
  padding-left: var(--margin-sm);
  padding-right: var(--margin-sm);
}

button {
  border: var(--border-width) solid transparent;
}

button:hover,
button:active {
  border-radius: var(--border-radius);
  border-color: var(--color-active);
}

.volume label {
  margin-left: var(--margin-sm);
  margin-right: var(--margin-sm);
}

.volume .source {
  opacity: 0.5;
}

.volume.recording .source {
  color: var(--color-urgent);
  opacity: 1.0;
}

.notifications,
.notifications button,
.clock {
  margin-left: 0;
  margin-right: 0;
}

.clock {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.popup-clock .calendar-clock {
  font-size: 2.0em;
}

.popup-clock .calendar {
  border: var(--border-width) solid transparent;
}

.popup-clock .calendar .today {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-active);
}
